@import "bootstrap/scss/functions";

// Color System
$white:    ##ffe9db;
$black:    #000;
$gray-500: mix($white, $black);
$gray-100: tint-color($gray-500, 80%) !default;
$gray-200: tint-color($gray-500, 60%) !default;
$gray-300: tint-color($gray-500, 40%) !default;
$gray-400: tint-color($gray-500, 20%) !default;
$gray-600: shade-color($gray-500, 20%) !default;
$gray-700: shade-color($gray-500, 40%) !default;
$gray-800: shade-color($gray-500, 60%) !default;
$gray-900: shade-color($gray-500, 80%) !default;

$blue:   ##0086ab;
$orange: ##f65900;

$blue-gradient: radial-gradient(circle, #4994d0 0%, #0093cd 27%, #0086ab 55%, #01667c 77%, #071f31 100%);

$primary: $orange;

// Body
$body-bg:          $blue;
$body-bg-gradient: $blue-gradient;
$body-color:       $white;
$body-text-align:  center;

// Typography
$font-family-cursive: "Freckle Face", cursive;
$font-family-base:    $font-family-cursive;

//
// Custom styles
//

@import "https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap";

body {
  background: $body-bg-gradient;
}

.app {
  > .block-background-a {
    background-image: url("../img/events/hn/trees.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
  
  > .block-background-b {
    background-image: url("../img/events/hn/webs.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }
  
  > .block-background-c {
    background-image: url("../img/events/hn/bats.svg");
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
  }
}

.block-question {
  display: table;
  height: 60vh;

  .block-background-a {
    bottom: -1px;
    background-image: url("../img/events/hn/sil.svg");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 100%;
  }

  .block-background-answer {
    top: 20vh;
    bottom: -10vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

.block-answer {
  display: table;
  height: 40vh;

  form {
    background-image: url("../img/events/hn/highlight.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  input {
    text-align: center;
  }
}
